<a href="https://colab.research.google.com/github/AnanyaNagar/MLDL2022_Ananya/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd
import numpy as np

In [90]:
df = pd.read_csv("test.csv")
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [91]:
df.shape #(no.of rows, no. of columns)

(25976, 25)

In [92]:
df.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [93]:
df = df.drop(['Unnamed: 0', 'id'], axis = 1)

In [94]:
# There are some columns which are of type object. We need to convert them to numeric. This is called encoding.
# Although there are many ways to encode. I'll be using ordinal encoding.

df.dtypes

Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
dtype: object

In [107]:
numeric_cols = []
categorical_cols = []

for col in df.columns:
  if df[col].dtype == object:
    categorical_cols.append(col)
  else:
    numeric_cols.append(col)

In [108]:
categorical_cols

['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']

In [109]:
numeric_cols

['Age',
 'Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes']

In [110]:
object_data = df[categorical_cols]
numeric_data = df[numeric_cols]

In [111]:
# categorical data to numeric data:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
object_data = pd.DataFrame(encoder.fit_transform(object_data), columns=categorical_cols)
object_data.head()

   Gender  Customer Type  Type of Travel  Class  satisfaction
0     0.0            0.0             0.0    1.0           1.0
1     0.0            0.0             0.0    0.0           1.0
2     1.0            1.0             0.0    1.0           0.0
3     1.0            0.0             0.0    0.0           1.0
4     0.0            0.0             0.0    1.0           1.0

In [112]:
final_df = pd.concat([numeric_data, object_data], axis=1)
final_df.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender,Customer Type,Type of Travel,Class,satisfaction
0,52,160,5,4,3,4,3,4,3,5,...,2,5,5,50,44.0,0.0,0.0,0.0,1.0,1.0
1,36,2863,1,1,3,1,5,4,5,4,...,3,4,5,0,0.0,0.0,0.0,0.0,0.0,1.0
2,20,192,2,0,2,4,2,2,2,2,...,2,2,2,0,0.0,1.0,1.0,0.0,1.0,0.0
3,44,3377,0,0,0,2,3,4,4,1,...,3,1,4,0,6.0,1.0,0.0,0.0,0.0,1.0
4,49,1182,2,3,4,3,4,1,2,2,...,4,2,4,0,20.0,0.0,0.0,0.0,1.0,1.0

In [113]:
print("Missing values:")
print(df.isna().sum())

Missing values:
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [114]:
X = final_df.iloc[:, :-1]
X.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender,Customer Type,Type of Travel,Class
0,52,160,5,4,3,4,3,4,3,5,...,5,2,5,5,50,44.0,0.0,0.0,0.0,1.0
1,36,2863,1,1,3,1,5,4,5,4,...,4,3,4,5,0,0.0,0.0,0.0,0.0,0.0
2,20,192,2,0,2,4,2,2,2,2,...,3,2,2,2,0,0.0,1.0,1.0,0.0,1.0
3,44,3377,0,0,0,2,3,4,4,1,...,1,3,1,4,0,6.0,1.0,0.0,0.0,0.0
4,49,1182,2,3,4,3,4,1,2,2,...,2,4,2,4,0,20.0,0.0,0.0,0.0,1.0

In [115]:
y = final_df.iloc[:, -1]
y

0        1.0
1        1.0
2        0.0
3        1.0
4        1.0
        ...
25971    0.0
25972    1.0
25973    0.0
25974    1.0
25975    0.0
Name: satisfaction, Length: 25976, dtype: float64

In [120]:
#There is column which has missing values in it
#We cannot drop these values because the no. of missing values are way much less than no.of rows in the table.
# So replacing the missing values with the mean value:

from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')
X['Arrival Delay in Minutes'] = si.fit_transform(X['Arrival Delay in Minutes'].values.reshape(-1, 1))

In [122]:
X.isna().sum() #no missing values left

Age                                  0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Gender                               0
Customer Type                        0
Type of Travel                       0
Class                                0
dtype: int64

In [123]:
# splitting into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

#Logistic Regression

In [126]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
logistic_result = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [134]:
# Confusion matrix for logistic regression:
from sklearn.metrics import confusion_matrix, accuracy_score

confusion_matrix(y_test, logistic_result)

array([[4031,  839],
       [ 768, 2935]])

In [132]:
accuracy_score(y_test, logistic_result)

0.812551032310743

#Decision Tree

In [139]:
from sklearn.tree import DecisionTreeClassifier

model2 = DecisionTreeClassifier()
model2.fit(X_train, y_train)
tree_result = model2.predict(X_test)

In [140]:
from sklearn.metrics import confusion_matrix, accuracy_score

confusion_matrix(y_test, tree_result)

array([[4551,  319],
       [ 304, 3399]])

In [141]:
accuracy_score(y_test, tree_result)

0.9273299895019247