<a href="https://colab.research.google.com/github/AnanyaNagar/MLDL2022_Ananya/blob/main/MultivariateRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df = df.drop(["sex", "smoker", "region"], axis = 1)
df.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [5]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [6]:
X.head()

   age     bmi  children
0   19  27.900         0
1   18  33.770         1
2   28  33.000         3
3   33  22.705         0
4   32  28.880         0

In [7]:
X.shape, X.isnull().sum()

((1338, 3), age         0
 bmi         0
 children    0
 dtype: int64)

In [8]:
y.shape

(1338,)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression

In [13]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [15]:
pred = model.predict(X_test)

In [21]:
print("Predicted: ", pred[10], " ,Actual: ", y_test.values[10])

Predicted:  10598.45227409806  ,Actual:  18259.216

In [19]:
model.coef_

array([226.86576343, 318.66337616, 668.7930722 ])

In [20]:
model.intercept_

-5989.286223757974